.description {
    &__title {
        text-align: center;
        @media (min-width: 768px) {
            font-size: 20px;
            margin-top: 20px;
        }
        @media (min-width: 1440px) {
            font-size: 25px;
            margin-top: 30px;
        }
    }

    &__container {
        display: flex;
        @media (min-width: 768px) {
            margin-top: 50px;
            width: 768px;
            padding: 0 auto;
        }
        @media (min-width: 1440px) {
            margin-top: 50px;
            margin-left: 100px;
            width: 1440px;
        }
        &--logo {
            margin-top: 50px;
            width: 250px;
            height: 500px;
        }

        &--description {
            flex-flow: column wrap;
            @media (min-width: 768px) {
                margin-left: 75px;
                margin-right: 20px;
            }
            @media (min-width: 1440px) {
                margin-left: 150px;
                margin-right: 150px;
            }
        }
    }

    &__line {
        margin-top: 50px;
        width: 1200px;
        margin-left: 120px;
        text-align: center;
    }

    &__chief {
        &--title {
            text-align: center;
            font-size: 35px;
            margin-top: 30px;
        }

        &--container {
            margin-left: 50px;
            margin-top: 50px;
            &-photo {
                width: 150px;
                height: 150px;
            }
        }
    }
    &__button {
        margin-left: 1100px;
        height: 60px;
        width: 160px;
        background-color: #afdcf5;
        border-color: aliceblue;
        color: rgb(23, 7, 247);
        font-size: 18px;

        &:hover {
            background: transparent;
            cursor: pointer;
            color: antiquewhite;
        }
    }
}

.requisite {
    width: 1200px;
    height: 350px;
    position: absolute;
    text-align: center;
    top: 600px;
    left: 150px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.25);
}
